$timeline-line: 2rem solid blue;

body {
    // background: url("../assets/background.jpg");
    min-height: 100vh;
    max-height: 100%;

    h3 {
        font-family: montserrat;
        font-size: 40px;
        font-weight: bold;
    }

    h5 {
        font-family: montserrat;
        font-size: 25px;
    }

    @media only screen and (max-width: 769px) {
        h5 {
            font-size: 20px;
        }
    }
}