.site-contact {
    color: white;
    align-content: center;
    padding: 25px;

    .fa {
        translate: translateY(4%);
    }

    i {
        font-size: 25px;
    }

    p {
        font-size: 10px;
    }
    
}