#site-header {
    background-color: black;

    .row {
        text-align: center;
        color: white;
        
        h1 {
            font-size: 75px;
        }

        a {
            color: white;
            font-size: 25px;
        }
    }
}
